.feedbackList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.feedbackListItem {
  display: flex;
  align-items: left;
  font-size: 40px;
  padding: 8px;
}

.feedbackListPercent {
  display: flex;
  align-items: left;
  font-size: 40px;
  padding: 12px;
  color: #008007;
}
